<template>
    <AdminHeader></AdminHeader>
    <el-container>
        <el-card style="width:90%;margin: 10px auto auto;">
            {{username}}，欢迎来到综测、保研辅助系统后台
        </el-card>
    </el-container>
</template>


<script>

import AdminHeader from "@/components/admin/AdminHeader"

export default {
    name: "AdminHome",
    components: {
        AdminHeader
    },
    data() {
        return {
            username: this.$cookies.get("username")
        }
    }
}
</script>

<style scoped>

</style>