<template>
    <AdminHeader></AdminHeader>
    <el-container>
        <el-card style="width:90%;margin: 10px auto auto;">
            <el-row>
                <el-col :span="3" :offset="1">
                    <el-menu
                        :default-active="active_index"
                        class="el-menu-demo"
                        mode="vertical"
                        active-text-color="#0ea08e">
                        <el-menu-item index="CompetitionManage" @click="tabChange('CompetitionManage')">竞赛管理</el-menu-item>
                        <el-menu-item index="SelectSize" @click="tabChange('SelectSize')">得分来源管理</el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="18" :offset="1">
                    <component :is="currentView" style="width: 90%"></component>
                </el-col>
            </el-row>
        </el-card>
    </el-container>
</template>

<script>

import AdminHeader from "@/components/admin/AdminHeader";
import SelectSize from "@/components/admin/SelectSize";
import CompetitionManage from "@/components/admin/CompetitionManage";

export default {
    name: "AdminCompetition",
    components: {
        AdminHeader,
        SelectSize,
        CompetitionManage
    },
    data() {
        return {
            active_index: "CompetitionManage",
            currentView: "CompetitionManage"
        }
    },
    methods: {
        tabChange(tabItem) {
            this.currentView = tabItem;
        }
    }
}
</script>

<style scoped>

</style>