<template>
<!--    <el-row>-->
<!--        <el-col :span="3">竞赛名称</el-col>-->
<!--        <el-col :span="5">-->
<!--            <el-input v-model="competition_name" placeholder="请输入竞赛名称"></el-input>-->
<!--        </el-col>-->
<!--        <el-col :span="3">认定级别</el-col>-->
<!--        <el-col :span="5">-->
<!--            <el-select v-model="type_size" placeholder="获奖等级">-->
<!--                <el-option-->
<!--                    v-for="item in type_selections"-->
<!--                    :key="item.value"-->
<!--                    :value="item.value"-->
<!--                    :label="item.label"></el-option>-->
<!--            </el-select>-->
<!--        </el-col>-->
<!--        <el-button @click="add_competition">添加竞赛</el-button>-->
<!--        <el-button @click="get_all_competitions">获取所有竞赛</el-button>-->
<!--    </el-row>-->
    <el-table
        stripe
        ref="competition_table"
        :data="competition_data"
        style="width: 100%">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column
            v-for="item in table_item"
            :key="item.prop"
            :prop="item.prop"
            :label="item.name"
            sortable="true">
            <template v-slot="scope">
                <div v-if="scope.$index == 0">
                    <el-input placeholder="点击输入编号"></el-input>
                </div>
                <div v-else>
                    {{scope.row[scope.column['property']]}}
                </div>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template v-slot="scope">
                <div v-if="scope.$index == 0">
                    <el-button type="primary">添加</el-button>
                </div>
                <div v-else>
                    <el-button type="danger">删除</el-button>
                </div>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
import axios from "axios";

export default {
    name: "CompetitionManage",
    data() {
        return {
            api_root: "http://116.62.6.122:12123",
            competition_data: [],
            table_item: [
                {prop: "competitionName", name: "竞赛名称"},
                {prop: "competitionType", name: "认定级别"}
            ],
            competition_name: "",
            type_selections: [
                {value: 1, label: "I类"},
                {value: 2, label: "II类A"},
                {value: 3, label: "II类B"},
                {value: 4, label: "II类C"},
                {value: 5, label: "III类"},
            ],
            type_size: 1
        }
    },
    created() {
      this.get_all_competitions();
    },
    methods: {
        add_competition() {
            let info = "是否添加竞赛 " + this.competition_name  + "，级别为 " + this.type_selections[this.type_size - 1]["label"];
            this.$confirm(info, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.upload();
                this.$message({
                    type: 'success',
                    message: '添加成功!'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消'
                });
            });
        },
        upload() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                axios({
                    method: "GET",
                    url: vue.api_root + "/api/competition/saveCompetition",
                    params: {
                        name: vue.competition_name,
                        type: vue.type_size
                    }
                }).then(function (response) {
                    console.log(response);
                });
            }
        },
        get_all_competitions() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                axios({
                    method: "POST",
                    url: vue.api_root + "/api/competition/getCompetitonWithExample",
                    data: {

                    }
                }).then(function (response) {
                    vue.competition_data = []
                    let competitions = response.data.data
                    for (let i = 0; i < competitions.length; ++i) {
                        vue.competition_data.push({
                            "competitionName": competitions[i].name,
                            "competitionType": vue.type_selections[competitions[i].type - 1].label
                        })
                    }
                });
            }
        }
    }
}
</script>

<style scoped>

</style>