<template>
    <el-table
        stripe
        ref="competition_table"
        :data="competition_data"
        style="width: 100%">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column
            v-for="item in table_item"
            :key="item.prop"
            :prop="item.prop"
            :label="item.name"
            sortable="true"
            :filters="item.filter"
            :filter-method="filter">
            <template v-slot="scope">
                <div v-if="scope.$index == 0">
                    <el-input placeholder="点击输入编号"></el-input>
                </div>
                <div v-else>
                    {{scope.row[scope.column['property']]}}
                </div>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template v-slot="scope">
                <div v-if="scope.$index == 0">
                    <el-button type="primary">添加</el-button>
                </div>
                <div v-else>
                    <el-row>
                        <el-col :span="11">
                            <el-button type="whu">修改</el-button>
                        </el-col>
                        <el-col :span="11">
                            <el-button type="danger">删除</el-button>
                        </el-col>
                    </el-row>
                </div>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
import axios from "axios";

export default {
    name: "SelectSize",
    data() {
        return {
            api_root: "http://116.62.6.122:12123",
            competition_data: [],
            table_item: [
                {prop: "competitionRegion", name: "获奖级别", filter: [{text: '国家级', value: "国家级"}, {text: '省级', value: '省级'}, {text: '校级', value: '校级'}]},
                {prop: "competitionNumber", name: "获奖等级", filter: [{text: '一等奖', value: "一等奖"}, {text: '二等奖', value: "二等奖"}, {text: '三等奖', value: "三等奖"}]},
                {prop: "competitionType", name: "认定级别", filter: [{text: 'I类', value: "I类"}, {text: 'II类A', value: "II类A"}, {text: 'II类B', value: "II类B"}, {text: 'II类C', value: "II类C"}]},
                {prop: "competitionScore", name: "分数贡献"}
            ],
        }
    },
    created() {
        this.get_all_size()
    },
    methods: {
        clear_filters() {
            this.region_size = 0;
            this.number_size = 0;
            this.type_size = 0;
        },
        get_all_size() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                axios({
                    method: "POST",
                    url: vue.api_root + "/api/size/SelectSize",
                    data: {
                        "type": 0
                    }
                }).then(function (response) {
                    vue.competition_data = [];
                    let competition_list = response.data.data;
                    for (let i = 0; i < competition_list.length; ++i) {
                        let data = competition_list[i];
                        vue.competition_data.push({
                            "competitionRegion": data.regionSize,
                            "competitionNumber": data.numberSize,
                            "competitionType": data.type,
                            "competitionScore": data.number
                        })
                    }
                });
            }
        },
        filter(value, row, column) {
            console.log(value)
            console.log(row)
            console.log(column)
            return row[column['property']] == value
        }
    }
}
</script>

<style scoped>

</style>