<template>
    <HeaderComponent></HeaderComponent>
    <el-container>
        <el-card style="width:90%;margin: 10px auto auto;">
            <el-row>
                <el-col :span="3" :offset="1">
                    <el-menu
                        :default-active="active_index"
                        class="el-menu-demo"
                        mode="vertical"
                        active-text-color="#0ea08e">
                        <el-menu-item index="class_detail" @click="tabChange('ClassDetails')">课程信息</el-menu-item>
                        <el-menu-item index="upload_lessons" @click="tabChange('UploadLessons')">成绩上传</el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="18" :offset="1">
                    <component :is="currentView" style="width: 90%"></component>
                </el-col>
            </el-row>
        </el-card>
    </el-container>
</template>

<script>

import ClassDetails from "@/components/ClassDetails";
import UploadLessons from "@/components/UploadLessons";
import HeaderComponent from "@/components/HeaderComponent";

export default {
    name: "ClassComponent",
    data() {
        return {
            api_root: "http://116.62.6.122:12123",
            currentView:"ClassDetails",
            active_index: "class_detail",
        }
    },
    components: {
        HeaderComponent,
        UploadLessons,
        ClassDetails,
    },
    methods: {
        tabChange(tabItem) {
            this.currentView = tabItem;
        }
    }
}
</script>

<style>

</style>