<template>
    <el-row>
        <el-col>
            <el-table
                stripe
                ref="lesson_table"
                :data="lesson_data"
                style="width: 100%">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="number" sortable="true" label="课程代码" width="180"></el-table-column>
                <el-table-column prop="lessonName" sortable="true" label="课程名称" width="180"></el-table-column>
                <el-table-column prop="lessonScore" sortable="true" label="学分"></el-table-column>
                <el-table-column prop="score" sortable="true" label="分数"></el-table-column>
                <el-table-column prop="lessonAcademy" sortable="true" label="授课学院"></el-table-column>
                <el-table-column prop="lessonTeacher" sortable="true" label="授课教师"></el-table-column>
            </el-table>
        </el-col>
    </el-row>
    <el-row style="margin-top: 10px">
        <el-col :span="9"></el-col>
        <el-col :span="2">
            <el-button type="whu" @click="get_lessons">获取课程</el-button>
        </el-col>
        <el-col :span="1"></el-col>
        <el-col :span="1"></el-col>
        <el-col :span="2">
            <el-button type="whu" @click="calculate">计算成绩</el-button>
        </el-col>
        <el-col :span="9"></el-col>
    </el-row>
</template>

<script>
import axios from "axios";
import qs from "qs";

export default {
    name: "ClassDetails",
    data() {
        return {
            api_root: "http://116.62.6.122:12123",
            lesson_data: [],
        }
    },
    created() {
        this.get_lessons();
    },
    methods: {
        get_lessons() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                axios({
                    method: "GET",
                    url: this.api_root + "/api/userLesson/getUserLesson",
                    params: {
                        userId: userid
                    }
                }).then(function (response) {
                    console.log();
                    vue.lesson_data = [];
                    let lesson_list = response.data.data;
                    for (let i = 0; i < lesson_list.length; ++i) {
                        let data = lesson_list[i].lesson;
                        let score = lesson_list[i].score;
                        vue.lesson_data.push({
                            "number": data.number,
                            "lessonName": data.lessonName,
                            "lessonAcademy": data.lessonAcademy,
                            "lessonTeacher": data.lessonTeacher,
                            "lessonScore": data.lessonScore,
                            "score": score
                        })
                        console.log(data);

                    }
                    console.log(response.data)
                })
            }
        },
        calculate() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                let vue = this;
                let selected_lessons = this.$refs.lesson_table.getSelectionRows();
                let lessonNumberList = [];
                for (let lesson of selected_lessons) {
                    lessonNumberList.push(lesson.number);
                }
                let params = new URLSearchParams();
                params.append("lessonNumberList", lessonNumberList);

                axios({
                    method: "GET",
                    url: this.api_root + "/api/score/scoreCalculate",
                    params: {
                        userId: userid,
                        lessonNumberList: lessonNumberList
                    },
                    paramsSerializer: params => {
                        return qs.stringify(params, { indices: false });
                    }
                }).then(function (response) {
                    let  detail = "绩点: " + response.data.data[0] + "\n\n均分：" + response.data.data[1];
                    vue.$alert(detail, "", {
                        confirmButtonText: '确定'
                    });
                    console.log("绩点：" + response.data);
                }).catch(function (response) {
                    console.log(response);
                    vue.$alert('请选择课程', '错误', {
                        confirmButtonText: '确定'
                    });
                });
            }
        }
    }
}
</script>

<style scoped>

</style>