<template>
    <HeaderComponent></HeaderComponent>
    <el-container>
        <el-card style="width:90%;margin: 10px auto auto;">
            <el-row>
                <el-col :span="3" :offset="1">
                    <el-menu
                        :default-active="active_index"
                        class="el-menu-demo"
                        mode="vertical"
                        active-text-color="#0ea08e">
                        <el-menu-item index="competition_detail" @click="tabChange('CompetitionDetails')">竞赛信息</el-menu-item>
                        <el-menu-item index="upload_competition" @click="tabChange('UploadCompetition')">添加竞赛</el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="18" :offset="1">
                    <component :is="currentView" style="width: 90%"></component>
                </el-col>
            </el-row>
        </el-card>
    </el-container>
</template>

<script>
import HeaderComponent from "@/components/HeaderComponent";
import CompetitionDetails from "@/components/CompetitionDetails";
import UploadCompetition from "@/components/UploadCompetition";
export default {
    name: "CompetitionComponent",
    components: {
        HeaderComponent,
        CompetitionDetails,
        UploadCompetition
    },
    data() {
        return {
            active_index: "competition_detail",
            currentView: "CompetitionDetails"
        }
    },
    methods: {
        tabChange(tabItem) {
            this.currentView = tabItem;
        }
    }
}
</script>

<style scoped>

</style>