<template>
    <el-table
        stripe
        ref="competition_table"
        :data="competition_data"
        style="width: 100%">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column
            v-for="item in table_item"
            :key="item.prop"
            :prop="item.prop"
            :label="item.name"
            sortable="true">
            <template v-slot="scope">
                <div v-if="scope.$index === 0">
                    <div v-if="item.name === '竞赛名称' || item.name === '获奖级别' || item.name === '获奖等级'">
                        <el-select :v-model="item.model" :placeholder="item.name">
                            <el-option
                                v-for="select in item.selections"
                                :key="select.value"
                                :value="select.value"
                                :label="select.label"></el-option>
                        </el-select>
                    </div>
                    <div v-else></div>
                </div>
                <div v-else>
                    {{scope.row[scope.column['property']]}}
                </div>
            </template>
        </el-table-column>
<!--        <el-table-column style="display: none" label="debug">-->
<!--            <template v-slot="scope">-->
<!--                {{scope.row}}-->
<!--            </template>-->
<!--        </el-table-column>-->
        <el-table-column width="400" label="操作">
            <template v-slot="scope">
                    <div v-if="scope.$index == 0">
                        <el-button type="primary">添加竞赛</el-button>
                    </div>
                    <div v-else>
                        <el-row>
                            <el-col :span="8">
                                <div v-if="scope.row.file_path == null">
                                    <el-button disabled>下载证明文件</el-button>
                                </div>
                                <div v-else>
                                    <el-button type="whu" @click="download(scope)">下载证明文件</el-button>
                                </div>
                            </el-col>
                            <el-col :span="8">
                                <div>
                                    <input type="file" style="display: none" @change="getFile($event, scope)">
                                    <el-button type="whu" @click="submitForm($event)">上传证明文件</el-button>
                                </div>
                            </el-col>
                            <el-col :span="8">
                                <el-button type="danger" @click="delete_competition(scope)">删除竞赛</el-button>
                            </el-col>
                        </el-row>
                    </div>
            </template>
        </el-table-column>
    </el-table>
    <el-row style="margin-top: 10px">
        <el-col :span="9"></el-col>
        <el-col :span="2">
            <el-button type="whu" @click="get_competition">获取竞赛信息</el-button>
        </el-col>
        <el-col :span="1"></el-col>
        <el-col :span="1"></el-col>
        <el-col :span="2">
            <el-button type="whu" @click="calculate">计算竞赛分数</el-button>
        </el-col>
        <el-col :span="9"></el-col>
    </el-row>
</template>

<script>
import axios from "axios";

export default {
    name: "CompetitionDetails",
    data() {
        let region_selections = [
          {value: 1, label: "国家级"},
          {value: 2, label: "省级"},
          {value: 3, label: "校级"}
        ]
      let number_selections = [
        {value: 1, label: "一等奖"},
        {value: 2, label: "二等奖"},
        {value: 3, label: "三等奖"}
      ]
        return {
            api_root: "http://116.62.6.122:12123",
            competition_data: [],
            file_option: "文件操作",
            competition_selections: [],
            region_selections: region_selections,
            number_selections: number_selections,
            competition_name: "",
            region_size: "",
            number_size: "",
            table_item: [
                {prop: "competitionName", name: "竞赛名称", model: "competition_name"},
                {prop: "competitionRegion", name: "获奖级别", model: "number_size"},
                {prop: "competitionNumber", name: "获奖等级", model: "region_size"},
                {prop: "competitionType", name: "认定级别"},
                {prop: "competitionScore", name: "分数贡献"}
            ],
        }
    },
    created() {
        this.get_competition();
        this.get_all_competitions();
        this.table_item[0].selections = this.competition_selections;
        this.table_item[1].selections = this.region_selections;
        this.table_item[2].selections = this.number_selections;
    },
    methods: {
        get_all_competitions() {
            let vue = this;
          axios({
            method: "POST",
            url: vue.api_root + "/api/competition/getCompetitonWithExample",
            data: {}
          }).then(function (response) {
            let competition_list = response.data.data;
            console.log("success")
            console.log(competition_list)
            for (let i = 0; i < competition_list.length; ++i) {
              vue.competition_selections.push({
                "value": competition_list[i].name,
                "label": competition_list[i].name
              })
            }
          });
        },
        get_competition() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                axios({
                    method: "GET",
                    url: vue.api_root + "/api/userCompetition/getUserCompetition",
                    params: {
                        userId: userid
                    }
                }).then(function (response) {
                   vue.competition_data = [];
                   let competition_list = response.data.data;
                   for (let i = 0; i < competition_list.length; ++i) {
                       let data = competition_list[i];
                       vue.competition_data.push({
                           "competitionId": data.competitionId,
                           "id": data.id,
                           "competitionName": data.competitionName,
                           "competitionRegion": data.regionSize,
                           "competitionNumber": data.numberSize,
                           "competitionType": data.competitionType,
                           "competitionScore": data.numberTrue,
                           "file_path": data.competitionFile
                       })
                   }
                });
            }
        },
        calculate() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                let sum = 0;
                for (let i = 1; i < vue.competition_data.length; ++i) {
                    sum += vue.competition_data[i].competitionScore;
                }
                let  detail = "您总共获得了 " + sum + " 分竞赛分，太强啦！";
                vue.$message({
                    message: detail,
                    type: "success"
                });
            }
        },
        getFile(event, scope) {
            this.file = event.target.files[0];
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                console.log("开始上传");
                console.log(userid)
                console.log(scope.row.competitionId)
                console.log(this.file);
                let fd = new FormData();
                fd.append("userId", userid);
                fd.append("userCompetitionId", scope.row.id);
                fd.append("localFile", this.file);
                axios({
                    method: "POST",
                    url: this.api_root + "/api/file/uploadFile",
                    data: fd
                }).then(function (response) {
                    console.log("上传完毕")
                    console.log(response.data)
                    vue.get_competition()
                })
            }
        },
        submitForm(event) {
            let e = event.currentTarget.previousElementSibling;
            e.click()
        },
        download(scope) {
            let fileid = scope.row.file_path.key;
            axios({
                method: "GET",
                url: this.api_root + "/api/file/downloadFile",
                params: {
                    fileId: fileid
                }
            }).then(function (response) {
                let url = response.data.data;
                console.log(url)
                window.open(url, "_blank");
            })
        },
        delete_competition(scope) {
            let info = "此操作将永久删除竞赛" + scope.row.competitionName + "，是否继续"
            let vue = this
            this.$confirm(info, '确认', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                axios({
                    method: "GET",
                    url: vue.api_root + "/api/userCompetition/deleteUserCompetition",
                    params: {
                        userCompetitionId: scope.row.id
                    }
                }).then(function (response) {
                    console.log(response.data)
                    vue.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    vue.get_competition()
                })
            }).catch(() => {
                vue.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
        }
    },
}
</script>

<style scoped>

</style>