<template>
    <HeaderComponent></HeaderComponent>
    <el-container>
        <el-card style="width:90%;margin: 10px auto auto;">
            {{username}}，欢迎来到综测、保研辅助系统！
        </el-card>
    </el-container>
</template>

<script>

import HeaderComponent from "@/components/HeaderComponent";

export default {
    name: "HomePage",
    data() {
        return {
            api_root: "http://116.62.6.122:12123",
            username: this.$cookies.get("username")
        }
    },
    components: {
        HeaderComponent
    }
}
</script>

<style>
.bg_whu {
    background: #0ea08e;
}

.topTab {
    float: left;
    margin-right: 30px;
    font-size: 17px;
    opacity: .6;
    text-align: center;
    cursor: pointer;
}

.logo {
    display: table-cell;
    height: 50px;
    margin: 5px auto auto;
}
</style>