<template>
    <el-header class="bg_whu" style="height: 60px;width: 100%">
        <el-row>
            <el-col :span="3"></el-col>
            <el-col :span="4">
                <div><el-image :src="logo_path" class="logo"></el-image></div>
            </el-col>
            <el-col :span="8">
                <el-menu
                    :default-active="$route.path"
                    router
                    class="el-menu-demo"
                    mode="horizontal"
                    background-color="#0ea08e"
                    text-color="#9fd9d2"
                    active-text-color="#ffffff"
                    style="border: 0;height: 60px">
                    <el-menu-item v-for="item in menu_items" :key="item.name" :index="item.src">
                        {{item.name}}
                    </el-menu-item>
                </el-menu>
            </el-col>
            <el-col :span="3"></el-col>
        </el-row>
    </el-header>
</template>

<script>
export default {
    name: "LoginHeader",
    data() {
        return {
            logo_path: "logo.png",
            menu_items: []
        }
    }
}
</script>

<style scoped>
.bg_whu {
    background: #0ea08e;
}

.logo {
    display: table-cell;
    height: 50px;
    margin: 5px auto auto;
}
</style>