<template>
    <LoginHeader></LoginHeader>
    <el-container>
        <el-card style="width:50%;margin: 10px auto auto;">
            <el-row :gutter="20">
                <el-col :span="6"></el-col>
                <el-col :span="3">用户名</el-col>
                <el-col :span="9">
                    <el-input v-model="username" placeholder="请输入用户名"></el-input>
                </el-col>
                <el-col :span="6"></el-col>
            </el-row>
            <el-row style="margin-top: 10px" :gutter="20">
                <el-col :span="6"></el-col>
                <el-col :span="3">密码</el-col>
                <el-col :span="9">
                    <el-input v-model="password" placeholder="请输入密码" show-password></el-input>
                </el-col>
                <el-col :span="6"></el-col>
            </el-row>
            <el-row style="margin-top: 10px">
                <el-col :span="11"></el-col>
                <el-col :span="2">
                    <el-button type="whu" @click="login">登录</el-button>
                </el-col>
                <el-col :span="11"></el-col>
            </el-row>
        </el-card>
    </el-container>
</template>

<script>
import axios from "axios";

import LoginHeader from "@/components/LoginHeader";

export default {
    name: "LoginPage",
    data() {
        return {
            api_root: "http://116.62.6.122:12123",
            username: "",
            password: ""
        }
    },
    components: {
        LoginHeader
    },
    methods: {
        login() {
            let vue = this;
            axios({
                method: "GET",
                url: vue.api_root + "/api/user/login",
                params: {
                    account: vue.username,
                    password: vue.password
                }
            }).then(function (response) {
                console.log(response.data);
                let res = response.data;
                if (res.code == "200") {
                    vue.$cookies.set("userid", res.data.id);
                    vue.$cookies.set("username", res.data.name);
                    if (res.data.type == 2) {
                        vue.$router.push("/admin/home");
                    } else {
                        vue.$router.push("/home");
                    }
                } else {
                    alert(res.msg);
                }
            })
        }
    }
}
</script>

<style scoped>

</style>