<template>
    <el-upload
        ref="upload"
        class="upload-demo"
        drag
        action
        :http-request="upload_lesson_data"
        multiple
        :limit="3"
        :file-list="fileList">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
        <template v-slot:tip>
            <div class="el-upload__tip">只能上传xlsx文件</div>
        </template>
    </el-upload>
</template>

<script>
import axios from "axios";

export default {
    name: "UploadLessons",
    data() {
        return {
            fileList: [],
            api_root: "http://116.62.6.122:12123"
        }
    },
    methods: {
        upload_lesson_data(file) {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                console.log(file.file)
                let fd = new FormData();
                let vue = this;
                fd.append("lessonExcel ", file.file);
                fd.append("userId", userid);
                axios({
                    method: "POST",
                    url: vue.api_root + "/api/lesson/addLessonExcel",
                    data: fd
                }).then(function (response) {
                    console.log(response);
                }).catch(function (response) {
                    console.log(response);
                });
            }
        }
    }
}
</script>

<style scoped>

</style>