<template>
    <el-row :gutter="20">
        <el-col :span="5" >
            <el-select v-model="competition_name" placeholder="竞赛名称">
                <el-option
                    v-for="item in competition_selections"
                    :key="item.value"
                    :value="item.value"
                    :label="item.label"></el-option>
            </el-select>
        </el-col>
        <el-col :span="5">
            <el-select v-model="region_size" placeholder="获奖级别">
                <el-option
                    v-for="item in region_selections"
                    :key="item.label"
                    :value="item.value"
                    :label="item.label"></el-option>
            </el-select>
        </el-col>
        <el-col :span="5">
            <el-select v-model="number_size" placeholder="获奖等级">
                <el-option
                    v-for="item in number_selections"
                    :key="item.value"
                    :value="item.value"
                    :label="item.label"></el-option>
            </el-select>
        </el-col>
        <el-col :span="3">
            <el-button type="whu" @click="upload_competitions">添加竞赛</el-button>
        </el-col>
    </el-row>
</template>

<script>
import axios from "axios";

export default {
    name: "UploadCompetition",
    data() {
        return {
            api_root: "http://116.62.6.122:12123",
            competition_selections: [],
            region_selections: [
                {value: 1, label: "国家级"},
                {value: 2, label: "省级"},
                {value: 3, label: "校级"}
            ],
            number_selections: [
                {value: 1, label: "一等奖"},
                {value: 2, label: "二等奖"},
                {value: 3, label: "三等奖"}
            ],
            competition_name: "",
            region_size: "",
            number_size: ""
        }
    },
    created() {
        let vue = this;
        axios({
            method: "POST",
            url: vue.api_root + "/api/competition/getCompetitonWithExample",
            data: {}
        }).then(function (response) {
            let competition_list = response.data.data;
            for (let i = 0; i < competition_list.length; ++i) {
                vue.competition_selections.push({
                    "value": competition_list[i].name,
                    "label": competition_list[i].name
                })
            }
        });
    },
    methods: {
        upload_competitions() {
            let vue = this;
            let userid = vue.$cookies.get("userid");
            if (userid == null) {
                alert("请先登录");
            } else {
                axios({
                    method: "GET",
                    url: vue.api_root + "/api/userCompetition/saveUserCompetition",
                    params: {
                        userId: userid,
                        competitionName: vue.competition_name,
                        numberSize: vue.number_size,
                        regionSize: vue.region_size
                    }
                }).then(function (response) {
                    console.log(response);
                    vue.$message({
                        message: "添加成功",
                        type: "success"
                    })
                });
            }
        }
    }
}
</script>

<style scoped>

</style>