<template>
    <router-view></router-view>
</template>

<script>
export default {
    name: "App",
    data() {
        return {
            id: null,
            logo_path: "logo.png",
            hello: "123"
        };
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /*margin-top: 60px;*/
}

.el-button--whu.is-active,
.el-button--whu:active {
    background: #0ea08e;
    border-color: #0ea08e;
    color: #fff;
}

.el-button--whu:focus,
.el-button--whu:hover {
    background: #9fd9d2;
    border-color: #9fd9d2;
    color: #fff;
}

.el-button--whu {
    color: #FFF;
    background-color: #0ea08e;
    border-color: #0ea08e;
}
</style>
